<div class="fixed header theme_{{theme}}_only">
  <a href="index.html"><img src="images/{{theme}}_icon.png" /></a>&#160;<a href="index.html">VCS Command Reference</a>
  <span class="langIcon language right">
    {{~> lang_icon .}}
  </span>
</div>
