<span class="theme_vcs_only">
  <img src="images/{{{lang}}}_icon.png" />
</span>
<span class="theme_vex_edr_only">{{langDisplayName}}</span>
<span class="theme_v5_beta_only">{{langDisplayName}}</span>
